<ion-header no-border>
  <div class="login-header ion-padding">
    <img class="logo-img" src="assets/img/oi2.png">
    
  </div>
</ion-header>
<ion-label style="color: white;">
  oi
</ion-label> 
<ion-content >
  <div class="center">
    <div heading-columm-lr class="circulo">
      <h1>Sign up</h1>
    </div>
    <ion-label>
    </ion-label> 
    
  </div>
  <ion-label style="color: white;">
    oi
  </ion-label> <ion-label style="color: white;">
    oi
  </ion-label> <ion-label style="color: white;">
    oi
  </ion-label> 
  
<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div text-center>
			</div>
			<div padding>
				<ion-item>
					<ion-input type="text" placeholder="Username"></ion-input>
        </ion-item>

				<ion-item>
					<ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>
        
        <ion-label style="color: white;">
          oi
        </ion-label>

        <li class = "item item-checkbox  checkbox-royal">
          
          <label style="margin-left:13px;" class = "checkbox">
             <input type = "checkbox" />  Remember password
          </label>
       </li>
      </div>
      
      <ion-label style="color: white;">
        oi
      </ion-label>

			<div padding>
				<ion-button [routerLink]="['/entrada/accounut']" routerDirection="forward" style="--background:linear-gradient(to top, #b224ef 0%, #7579ff 100%); margin-left:15px; margin-right: 15px;" size="large" href="/touchid" expand="block">Register</ion-button>
 
        <div>
          <h1></h1>
        </div>
          
        <ion-label style="margin-left: 18px;">
          Already registered? <a  [routerLink]="['/login']" routerDirection="forward" style="color:darkorchid">Access!</a>
        </ion-label>
      </div>
		</ion-col>
	</ion-row>
</ion-grid>
</ion-content>
