<ion-header no-border>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accounut" style="color:#AE129D">
      <ion-icon name="trophy-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="inbox" style="color:#AE129D">
      <!--<ion-icon name="chatbox-ellipses-outline"></ion-icon>-->
      <ion-icon name="game-controller-sharp" tabBadgeStyle="danger"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="inbox" style="color:#AE129D">
      <ion-icon name="star" tabBadgeStyle="danger"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
