<div style="background:linear-gradient(to right, #00dbde 0%, #fc00ff 100%);">
  <ion-icon name="trophy" tabBadgeStyle="danger" style="font-size:70px; color:white; margin-left:148px; margin-top:90px;"></ion-icon>
<div class="login-header ion-padding">
  
  <h1 style="text-align:center; font-size:10px; font-family: robota; margin-top:-145px; margin-left:-8px; font-size:30px; color: white"> Pódio </h1>
  </div>
</div>

<ion-content>

  
    <div style=" width: 395px;" class="financiamento">
      <div class="meses" style="margin-top:-47px; margin-left:87px; font-size:15px">
        2.300 pontos
       
      </div>
  
    <div class="meses" style="margin-top:-40px; margin-left:187px; font-size:15px">    
      <h6 style="font-family: Poppins; margin-top:-20px; margin-left:-245px">Maria Clara</h6>
      <img style=" width:180px; height:40px; margin-top:-105px; margin-left:-160px;" src="assets/img/sophia2.png">


    
    </div>

    </div>

    <div style=" width: 395px; margin-top:71px;" class="financiamento">
      <div class="meses" style="margin-top:-47px; margin-left:87px; font-size:15px">
        1.500 pontos
       
      </div>
  
    <div class="meses" style="margin-top:-40px; margin-left:187px; font-size:15px">    
      <h6 style="font-family: Poppins; margin-top:-20px; margin-left:-245px">Theo</h6>
      <img style=" width:180px; height:40px; margin-top:-105px; margin-left:-115px;" src="assets/img/theo.png">

    </div>

    </div>
    <ion-fab-button [routerLink]="['/entrada/accounut/']" routerDirection="forward" tab="prox" style="--background:linear-gradient(to right, #00dbde 0%, #fc00ff 100%); margin-left:14px; margin-top:400px;">
      <ion-icon name="return-down-back-outline">
      </ion-icon>
  </ion-fab-button>



