<div style="background:linear-gradient(to right, #00dbde 0%, #fc00ff 100%);">
  <ion-icon name="game-controller-sharp" tabBadgeStyle="danger" style="font-size:70px; color:white; margin-left:148px; margin-top:90px;"></ion-icon>
<div class="login-header ion-padding">
  <h1 style="text-align:center; font-size:10px; font-family: robota; margin-top:-145px; margin-left:-8px; font-size:30px; color: white"> Games </h1>
</div>
</div>

<ion-content>
  <div class="metas" [routerLink]="['/troco']" routerDirection="forward" tab="prox" style="margin-top:-457px; width: 160px;" >
    <div style="margin-left:18px">
      <ion-icon name="bar-chart-outline" tabBadgeStyle="danger" style="font-size:50px; color:white; margin-top:20px; margin-left:38px;"></ion-icon>
      <h4 style="font-family:rb; margin-left:17px; margin-top:2px; color:white;">Poupança</h4>
    </div>
  </div>

  <div class="metas" [routerLink]="['troco/']" routerDirection="forward" tab="prox" style="margin-top:-345px; width: 160px;" >
    <div style="margin-left:18px">
      <ion-icon name="cash-outline" tabBadgeStyle="danger" style="font-size:50px; color:white; margin-top:20px; margin-left:38px;"></ion-icon>
      <h4 style="font-family:rb; margin-left:33px; margin-top:1px; color:white;">Troco</h4>
    </div>
  </div>

  <div class="investimentos" style="margin-top:-457px; width: 160px; margin-left: 3px;"  [routerLink]="['/investimento']" routerDirection="forward" tab="prox">
    <div style="margin-left:10px">
      <ion-icon name="skull-outline" tabBadgeStyle="danger" style="font-size:50px; color:white; margin-top:20px; margin-left:42px;"></ion-icon>
      <h4 style="font-family:rb; margin-top:2px; margin-left: 45px; color:white; ">Juros</h4>
    </div>
  </div>

  <div class="investimentos" style="margin-top:-345px; width: 160px; margin-left: 3px;"  [routerLink]="['/investimento']" routerDirection="forward" tab="prox">
    <div style="margin-left:10px">
      <ion-icon name="card-outline" tabBadgeStyle="danger" style="font-size:50px; color:white; margin-top: 20px; margin-left:42px;"></ion-icon>
      <h4 style="font-family:rb; margin-top:1px; margin-left: 33px; color:white; ">Crédito</h4>
    </div>
  </div>

  <div class="investimentos" style="margin-top:-235px; width: 160px; margin-left: 3px;"  [routerLink]="['/investimento']" routerDirection="forward" tab="prox">
    <div style="margin-left:10px">
      <ion-icon name="headset-outline" tabBadgeStyle="danger" style="font-size:50px; color:white; margin-top: 20px; margin-left:42px;"></ion-icon>
      <h4 style="font-family:rb; margin-top:1px; margin-left: 33px; color:white; ">Gastos</h4>
    </div>
  </div>

  <div class="metas" [routerLink]="['/inbox']" routerDirection="forward" tab="prox" style="margin-top:-235px; width: 160px;" >
    <div style="margin-left:18px">
      <ion-icon name="rocket-outline" tabBadgeStyle="danger" style="font-size:50px; color:white; margin-top:20px; margin-left:38px;"></ion-icon>
      <h4 style="font-family:rb; margin-left:32px; margin-top:1px; color:white;">Metas</h4>
    </div>
  </div>

  <ion-fab-button [routerLink]="['/entrada/accounut/']" routerDirection="forward" tab="prox" style="--background:linear-gradient(to right, #00dbde 0%, #fc00ff 100%); margin-left:14px; margin-top:400px;">
      <ion-icon name="return-down-back-outline">
      </ion-icon>
  </ion-fab-button>



