<div style="background:linear-gradient(to right, #00dbde 0%, #fc00ff 100%);">
  <ion-icon name="star" tabBadgeStyle="danger" style="font-size:70px; color:white; margin-left:148px; margin-top:90px;"></ion-icon>
<div class="login-header ion-padding">
  
  <h1 style="text-align:center; font-size:10px; font-family: robota; margin-top:-145px; margin-left:-8px; font-size:30px; color: white"> Mimos </h1>
  </div>
</div>

<ion-content>
  <div class="foto-perfil">
    <img  class="gast" style="margin-left:100px; margin-top:17px; height: 95px;" src="../../../assets/img/controle.png" alt="">
    <h4 style="font-family:rb; color:whitesmoke; margin-left:30px; margin-top:24px;">Marina.8</h4>
  </div>
  <div class="metas" [routerLink]="['/metas']" routerDirection="forward" tab="prox" style="margin-top:-357px; width: 160px;" >
    <div style="margin-left:18px">
      <ion-icon name="flower-outline" tabBadgeStyle="danger" style="font-size:50px; color:white; margin-top:20px; margin-left:38px;"></ion-icon>
      <h4 style="font-family:rb; margin-left:27px; margin-top:2px; color:white;">Caixa 1</h4>
    </div>
  </div>

  <div class="metas" [routerLink]="['/inbox']" routerDirection="forward" tab="prox" style="margin-top:-245px; width: 160px;" >
    <div style="margin-left:18px">
      <ion-icon name="paper-plane-outline" tabBadgeStyle="danger" style="font-size:50px; color:white; margin-top:20px; margin-left:38px;"></ion-icon>
      <h4 style="font-family:rb; margin-left:30px; margin-top:1px; color:white;">Caixa 3</h4>
    </div>
  </div>

  <div class="investimentos" style="margin-top:-357px; width: 160px; margin-left: 3px;"  [routerLink]="['/investimento']" routerDirection="forward" tab="prox">
    <div style="margin-left:10px">
      <ion-icon name="fish-outline" tabBadgeStyle="danger" style="font-size:50px; color:white; margin-top:20px; margin-left:42px;"></ion-icon>
      <h4 style="font-family:rb; margin-top:2px; margin-left: 33px; color:white; ">Caixa 2</h4>
    </div>
  </div>

  <div class="investimentos" style="margin-top:-245px; width: 160px; margin-left: 3px;"  [routerLink]="['/investimento']" routerDirection="forward" tab="prox">
    <div style="margin-left:10px">
      <ion-icon name="planet-outline" tabBadgeStyle="danger" style="font-size:50px; color:white; margin-top: 20px; margin-left:42px;"></ion-icon>
      <h4 style="font-family:rb; margin-top:1px; margin-left: 33px; color:white; ">Caixa 4</h4>
    </div>
  </div>
  <ion-fab-button [routerLink]="['/entrada/accounut/']" routerDirection="forward" tab="prox" style="--background:linear-gradient(to right, #00dbde 0%, #fc00ff 100%); margin-left:14px; margin-top:230px;">
      <ion-icon name="return-down-back-outline">
      </ion-icon>
  </ion-fab-button>



