
<ion-content style="--background:linear-gradient(to right, #00dbde 0%, #fc00ff 100%);">
  <div class="foto-perfil">
    <img  class="gast" style="margin-left:16px; margin-top:8px; height: 115px;" src="../../../assets/img/perfil.png" alt="">
    <h4 style="font-family:rb; color:whitesmoke; margin-left:30px; margin-top:24px;">Marina.8</h4>
  </div>
  <div class="metas" [routerLink]="['/metas']" routerDirection="forward" tab="prox" style="margin-top:-197px; width: 160px;" >
    <div style="margin-left:18px">
      <ion-icon name="trophy" tabBadgeStyle="danger" style="font-size:70px; color:white; margin-left:28px;"></ion-icon>
      <h4 style="font-family:rb; margin-left:37px; margin-top:-4px; color:white;">Pódio</h4>
    </div>
  </div>

  <div class="metas" [routerLink]="['/inbox']" routerDirection="forward" tab="prox" style="margin-top:-77px; width: 160px;" >
    <div style="margin-left:18px">
      <ion-icon name="star" tabBadgeStyle="danger" style="font-size:70px; color:white; margin-left:28px;"></ion-icon>
      <h4 style="font-family:rb; margin-left:30px; margin-top:-4px; color:white;">Mimos</h4>
    </div>
  </div>

  <div class="investimentos" style="margin-top:-197px; width: 160px; margin-left: 3px;"  [routerLink]="['/investimento']" routerDirection="forward" tab="prox">
    <div style="margin-left:10px">
      <ion-icon name="game-controller" tabBadgeStyle="danger" style="font-size:70px; color:white; margin-left:32px;"></ion-icon>
      <h4 style="font-family:rb; margin-top:-4px; margin-left: 33px; color:white; ">Games</h4>
    </div>
  </div>

  <div class="investimentos" style="margin-top:-77px; width: 160px; margin-left: 3px;"  [routerLink]="['/calls']" routerDirection="forward" tab="prox">
    <div style="margin-left:10px">
      <ion-icon name="cash-outline" tabBadgeStyle="danger" style="font-size:70px; color:white; margin-left:32px;"></ion-icon>
      <h4 style="font-family:rb; margin-top:-4px; margin-left: 40px; color:white; ">Cofre</h4>
    </div>
  </div>
</ion-content>