<ion-header no-border>
  <div class="login-header ion-padding">


  
<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <p style="
          color: rgba(0, 0, 0, 0.6);
          position: absolute;
          width: 124px;
          height: 16px;
          left: 95px;
          top: 97px;

          /* Headline 4 */
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 36px;"
      >Cadastro</p>
			<div padding style="text-align:center">
   
        <ion-input style="
          position: absolute;
          width: 255px;
          height: 52px;
          left: 22px;
          top: 208px;

          background: rgba(196, 196, 196, 0.22);
          border-radius: 12px;
          " type="text" placeholder="Usuário">
        </ion-input>

        <ion-input style="
          position: absolute;
          width: 255px;
          height: 52px;
          left: 22px;
          top: 268px;

          background: rgba(196, 196, 196, 0.22);
          border-radius: 12px;
          " type="number" placeholder="Idade" required>
        </ion-input>
       
        
      </div>
    
			<div padding>
				<ion-button [routerLink]="['/entrada/accounut']" routerDirection="forward" style="--background:linear-gradient(to top, #b224ef 0%, #7579ff 100%); position: absolute; width: 135px; height: 52px; position: abslute; left: 78px; top: 340px;" size="large" href="/touchid" expand="block">Iniciar</ion-button>
 
          
      </div>
		</ion-col>
	</ion-row>
</ion-grid>
    
</div>
</ion-header>
