<div style="height:100px; background:linear-gradient(to right, #00dbde 0%, #fc00ff 100%);">
  <ion-icon name="cash-outline" tabBadgeStyle="danger" style="font-size:70px; color:white; margin-left:148px; margin-top:90px;"></ion-icon>
<div class="login-header ion-padding">
  
  <h1 style="text-align:center; font-size:10px; font-family: robota; margin-top:-145px; margin-left:-8px; font-size:30px; color: white"> Cofre </h1>
  <ion-fab-button [routerLink]="['/entrada/accounut/']" routerDirection="forward" tab="prox" style="--background:linear-gradient(to right, #0029de 0%, #fc00ff 100%); margin-top:-55px;">
    <ion-icon name="return-down-back-outline">
    </ion-icon>
  </ion-fab-button>  
</div>
</div>

<ion-content>

  
  <div>    
    <img style=" width:420px; height:567px;; margin-top:-0px; margin-left:-2px;" src="assets/img/caminho.jpg">

  </div>





